.marker,
.contacts,
.project-link {
  text-decoration: none;
  list-style: none;
}

li {
  position: relative;
  margin: 0;
  padding: 0;

  padding-left: 8px;
  @media screen and (min-width: 768px) {
    padding-left: 15px;
  }
}

.list.marker::before {
  position: absolute;
  content: "";
  left: 0px;
  top: 25%;
  background-color: #11023a;
  border-radius: 30%;
  width: 5px;
  height: 5px;

  @media screen and (min-width: 768px) {
    width: 7px;
    height: 7px;
  }
  @media screen and (min-width: 1200px) {
    width: 10px;
    height: 10px;
  }
}

.project.list.marker::before {
  position: absolute;
  content: "";
  left: 0px;
  top: 44%;
  background-color: #11023a;
  width: 5px;
  height: 5px;
  border-radius: 30%;

  @media screen and (min-width: 768px) {
    width: 7px;
    height: 7px;
  }
  @media screen and (min-width: 1200px) {
    width: 10px;
    height: 10px;
  }
}
